This data contains data about countries, years, sex, age, suicides and population

In [2]:
import pandas as pd

data = pd.read_csv('suicide.csv')
data

,country,year,sex,age,suicides_no,population,suicides/100k pop
0,Albania,1987,male,15-24 years,21,312900,6.71
1,Albania,1987,male,35-54 years,16,308000,5.19
2,Albania,1987,female,15-24 years,14,289700,4.83
3,Albania,1987,male,75+ years,1,21800,4.59
4,Albania,1987,male,25-34 years,9,274300,3.28
...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46

Found the count of suicides for male and female

In [9]:
data.groupby(["sex"]).sum()["suicides_no"]

sex
female    1559510
male      5188910
Name: suicides_no, dtype: int64

Found the count of suicides for ages

In [15]:
data.groupby(["age"]).sum()["suicides_no"]

age
15-24 years     808542
25-34 years    1123912
35-54 years    2452141
5-14 years       52264
55-74 years    1658443
75+ years       653118
Name: suicides_no, dtype: int64

Found the count of suicides for years

In [16]:
data.groupby(["year"]).sum()["suicides_no"]

year
1985    116063
1986    120670
1987    126842
1988    121026
1989    160244
1990    193361
1991    198020
1992    211473
1993    221565
1994    232063
1995    243544
1996    246725
1997    240745
1998    249591
1999    256119
2000    255832
2001    250652
2002    256095
2003    256079
2004    240861
2005    234375
2006    233361
2007    233408
2008    235447
2009    243487
2010    238702
2011    236484
2012    230160
2013    223199
2014    222984
2015    203640
2016     15603
Name: suicides_no, dtype: int64

Found the count of suicides for countries

In [17]:
data.groupby(["country"]).sum()["suicides_no"]

country
Albania                    1970
Antigua and Barbuda          11
Argentina                 82219
Armenia                    1905
Aruba                       101
                         ...
United Arab Emirates        622
United Kingdom           136805
United States           1034013
Uruguay                   13138
Uzbekistan                34803
Name: suicides_no, Length: 101, dtype: int64

In [ ]:
Found the correlation between population and suicides

In [35]:
aggregate = data.groupby(["country"]).sum()
observ = pd.DataFrame(data,columns=['suicides_no','population'])
corrMatrix = observ.corr()
corrMatrix

             suicides_no  population
suicides_no     1.000000    0.616162
population      0.616162    1.000000